cxf-server/src/main/resources/orderService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="OrderServiceImplService"
	targetNamespace="http://cxf.order.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cxf.order.com/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<wsdl:types>
		<xs:schema elementFormDefault="unqualified" targetNamespace="http://cxf.order.com/"
			version="1.0" xmlns:tns="http://cxf.order.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:xmime="http://www.w3.org/2005/05/xmlmime">

			<xsd:element name="queryByProductNameRequest" type="tns:queryByProductName" />
			<xsd:element name="queryByProductNameResponse" type="tns:queryByProductNameResponse" />

			<xsd:complexType name="queryByProductName">
				<xsd:sequence>
					<xsd:element name="name" type="xs:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="queryByProductNameResponse">
				<xsd:sequence>
					<xsd:element name="id" type="xs:int" />
					<xsd:element name="orderDate" type="xs:dateTime" />
					<xsd:element name="owner" type="xs:string" />
					<xsd:element name="orderName" type="xs:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="queryByProductNameRequest">
		<wsdl:part name="parameters" element="tns:queryByProductNameRequest"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="queryByProductNameResponse">
		<wsdl:part name="parameters" element="tns:queryByProductNameResponse"></wsdl:part>
	</wsdl:message>


	<wsdl:portType name="OrderService">
		<wsdl:operation name="queryByProductName">
			<wsdl:input message="tns:queryByProductNameRequest" name="queryByProductNameRequest"></wsdl:input>
			<wsdl:output message="tns:queryByProductNameResponse"
				name="queryByProductNameResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="OrderServiceImplServiceSoapBinding" type="tns:OrderService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="queryByProductName">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="queryByProductNameRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="queryByProductNameResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>


	<wsdl:service name="OrderServiceImplService">
		<wsdl:port binding="tns:OrderServiceImplServiceSoapBinding"
			name="OrderServiceImplPort">
			<soap:address location="http://localhost:8080/orderService" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>