cxf-server/src/main/resources/studentService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="StudentServiceImplService"
	targetNamespace="http://cxf.student.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cxf.student.com/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<wsdl:types>
		<xs:schema elementFormDefault="unqualified" targetNamespace="http://cxf.student.com/"
			version="1.0" xmlns:tns="http://cxf.student.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:xmime="http://www.w3.org/2005/05/xmlmime">

			<xsd:element name="queryStudentByIdRequest" type="tns:queryStudentByIdRequest"/>
			<xsd:element name="queryStudentByIdResponse" type="tns:Student" />


            <xsd:element name="queryStudentsByAddressRequest" type="tns:queryStudentsByAddressRequest"/>
            <xsd:element name="queryStudentsByAddressResponse" type="tns:ListOfStudent" />

            <xsd:element name="queryRolesByIdRequest" type="tns:queryRolesByIdRequest"/>
            <xsd:element name="queryRolesByIdResponse" type="tns:Role" />


            <xsd:element name="uploadFileRequest" type="tns:UploadFile"/>
            <xsd:element name="uploadFileResponse" type="tns:uploadFileResponse" />

			<xsd:complexType name="queryStudentByIdRequest">
				<xsd:sequence>
					<xsd:element name="name" type="xs:string" />
				</xsd:sequence>
			</xsd:complexType>

            <xsd:complexType name="queryStudentsByAddressRequest">
                <xsd:sequence>
                    <xsd:element name="name" type="xs:string" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="queryRolesByIdRequest">
                <xsd:sequence>
                    <xsd:element name="id" type="xs:int" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="uploadFileResponse">
                <xsd:sequence/>
            </xsd:complexType>

            <xsd:complexType name="Director">
				<xsd:sequence>
					<xsd:element name="name" type="xs:string" />
					<xsd:element name="address" type="xs:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="Head">
				<xsd:sequence>
					<xsd:element name="name" type="xs:string" />
					<xsd:element name="address" type="xs:string" />
					<xsd:element name="director" type="tns:Director" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="Teacher">
				<xsd:sequence>
					<xsd:element name="name" type="xs:string" />
					<xsd:element name="address" type="xs:string" />
					<xsd:element name="head" type="tns:Head" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="Student">
				<xsd:sequence>
					<xsd:element name="name" type="xs:string" />
					<xsd:element name="address" type="xs:string" />
					<xsd:element name="teacher" type="tns:Teacher" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ListOfStudent">
				<xsd:sequence>
					<xsd:element name="students" type="tns:Student"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>


			<xsd:simpleType name="Role">
				<xsd:restriction base="xs:string">
					<xsd:enumeration value="STUDENT" />
					<xsd:enumeration value="TEACHER" />
					<xsd:enumeration value="PRESIDENT" />
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:complexType name="UploadFile">
				<xsd:sequence>
					<!-- <xsd:element name="fileContent" type="xsd:base64Binary"/> -->
					<xsd:element name="fileContent" type="xsd:base64Binary"
						xmime:expectedContentTypes="application/octet-stream"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

		</xs:schema>
	</wsdl:types>


	<wsdl:message name="queryStudentByIdRequest">
		<wsdl:part name="parameters" element="tns:queryStudentByIdRequest"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="queryStudentByIdResponse">
		<wsdl:part name="parameters" element="tns:queryStudentByIdResponse"></wsdl:part>
	</wsdl:message>

    <wsdl:message name="queryStudentsByAddressRequest">
        <wsdl:part name="parameters" element="tns:queryStudentsByAddressRequest"></wsdl:part>
    </wsdl:message>

    <wsdl:message name="queryStudentsByAddressResponse">
        <wsdl:part name="parameters" element="tns:queryStudentsByAddressResponse"></wsdl:part>
    </wsdl:message>

    <wsdl:message name="queryRolesByIdRequest">
        <wsdl:part name="parameters" element="tns:queryRolesByIdRequest"></wsdl:part>
    </wsdl:message>

    <wsdl:message name="queryRolesByIdResponse">
        <wsdl:part name="parameters" element="tns:queryRolesByIdResponse"></wsdl:part>
    </wsdl:message>

    <wsdl:message name="uploadFileRequest">
        <wsdl:part name="parameters" element="tns:uploadFileRequest"></wsdl:part>
    </wsdl:message>

    <wsdl:message name="uploadFileResponse">
        <wsdl:part name="parameters" element="tns:uploadFileResponse"></wsdl:part>
    </wsdl:message>

	<wsdl:portType name="StudentService">

		<wsdl:operation name="queryStudentById">
			<wsdl:input message="tns:queryStudentByIdRequest" name="queryStudentByIdRequest"></wsdl:input>
			<wsdl:output message="tns:queryStudentByIdResponse" name="queryStudentByIdResponse"></wsdl:output>
		</wsdl:operation>

        <wsdl:operation name="queryStudentByAddress">
            <wsdl:input message="tns:queryStudentsByAddressRequest" name="queryStudentsByAddressRequest"></wsdl:input>
            <wsdl:output message="tns:queryStudentsByAddressResponse" name="queryStudentsByAddressResponse"></wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="queryRolesById">
            <wsdl:input message="tns:queryRolesByIdRequest" name="queryRolesByIdRequest"></wsdl:input>
            <wsdl:output message="tns:queryRolesByIdResponse" name="queryRolesByIdResponse"></wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="uploadFile">
            <wsdl:input message="tns:uploadFileRequest" name="uploadFileRequest"></wsdl:input>
            <wsdl:output message="tns:uploadFileResponse" name="uploadFileResponse"></wsdl:output>
        </wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="StudentServiceImplServiceSoapBinding" type="tns:StudentService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="queryStudentById">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="queryStudentByIdRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="queryStudentByIdResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>


        <wsdl:operation name="queryStudentByAddress">
            <soap:operation soapAction="" style="document" />
            <wsdl:input name="queryStudentsByAddressRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="queryStudentsByAddressResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="queryRolesById">
            <soap:operation soapAction="" style="document" />
            <wsdl:input name="queryRolesByIdRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="queryRolesByIdResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>


        <wsdl:operation name="uploadFile">
            <soap:operation soapAction="" style="document" />
            <wsdl:input name="uploadFileRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="uploadFileResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
	</wsdl:binding>


	<wsdl:service name="StudentServiceImplService">
		<wsdl:port binding="tns:StudentServiceImplServiceSoapBinding"
			name="StudentServiceImplPort">
			<soap:address location="http://localhost:8080/studentService" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>